body {
  background: linear-gradient(45deg, rgb(111, 162, 157), rgb(153, 246, 240));
}

header {
  position: static;
}

main ul {
  width: 1200px;
  margin: 0 auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
}

main li {
  display: flex;
  list-style: none;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  height: 420px;
}

#item-content {
  padding: 10px;
  color: rgb(80, 77, 78);
}

main li img {
  height: 350px;
  width: 300px;
  object-fit: cover;
}

#item-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#explore {
  text-align: right;
}

#explore a {
  text-decoration: none;
  color: rgb(254, 3, 241);
  padding: 3px;
  border-radius: 8px;
}

#explore a:hover {
  color: rgb(255, 0, 242);
  background-color: rgb(169, 227, 231);
}
